{
    "presets": [
      "react",
      [
        "env",
        {
          "targets": {
            "node": 8,
            "browsers": ["last 2 versions"]
          }
        }
      ],
      "es2015",
      "stage-0",
      "es2017"
    ],
    "plugins": ["transform-runtime"]
}